<h1>Editing personal record</h1>

<%= render "form", personal_record: @personal_record %>

<br>

<div>
  <%= link_to "Show this personal record", @personal_record %> |
  <%= link_to "Back to personal records", personal_records_path %>
</div>
