<h1>Редагування оцінки</h1>

<%= render "form", user_subject_teacher: @user_subject_teacher %>

<br>

<div>
  <%= link_to "Показати цей запис", @user_subject_teacher %> |
  <%= link_to "Повернутися до кабінету", personal_cabinet_path %>
</div>
