<p style="color: green"><%= notice %></p>

<%= render @user_subject_teacher %>

<div>
  <%= link_to "Змінити цей запис", edit_user_subject_teacher_path(@user_subject_teacher) %> |
  <%= link_to "Повернутися до кабінету", personal_cabinet_path %>
</div>
