<h1>Editing subject teacher</h1>

<%= render "form", subject_teacher: @subject_teacher %>

<br>

<div>
  <%= link_to "Show this subject teacher", @subject_teacher %> |
  <%= link_to "Back to subject teachers", subject_teachers_path %>
</div>
