<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= subject.hours %>
  </p>

  <p>
    <strong>Semesters:</strong>
    <%= subject.semesters %>
  </p>

</div>
