/*
 *= require_tree .
 *= require_self
 */

.all_pages body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.all_pages {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.all_pages h1 {
    margin-top: auto;
    text-align: center;
}

.all_pages h2 {
    text-align: center;
}

.all_pages h3 {
    text-align: center;
}

.all_pages p {
    text-align: center;
}

.graduate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.graduate-image {
    margin-right: 10px;
}

.graduate-info {
    flex: 1;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.link {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    z-index: 999;
}

.news {
    display: flex;
    align-items: center;
}

.img-text-news {
    margin-top: 60px;
}

.news-image {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

